<li>
    <div class="container">
        <p class="d-inline-flex gap-1 container-button-collapse">
            <button class="btn btn-dark btn-collapse" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsecadastrocomercial" aria-expanded="false"
                aria-controls="collapsecadastrocomercial">
                COMERCIAL
            </button>
        </p>
        <div class="collapse" id="collapsecadastrocomercial">
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\cliente">CADASTRO
                        CLIENTE</a></li>
            </ul>
        </div>
    </div>
</li>