<li>
    <div class="container">
        <p class="d-inline-flex gap-1 container-button-collapse">
            <button class="btn btn-dark btn-collapse" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsecadastroconfiguracao" aria-expanded="false" aria-controls="collapsecadastroconfiguracao">
                CONFIGURAÇOES
            </button>
        </p>
        <div class="collapse" id="collapsecadastroconfiguracao">
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\configProduto">CONFIGURAÇÃO DE PRODUTO</a></li>
                    
                    
                </li>
            </ul>
        </div>
    </div>
</li>