<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/familiaProduto">LISTA DE FAMILIAS</a></li>
            <li class="breadcrumb-item"><a>NOVA FAMILIA</a>
            </li>
        </ol>
    </nav>
</div>
<main class="container">

    <form action="/familiaProduto/new" method="post" class="row g-3">
        <div class="col">
            <label class="form-label">NOME DA FAMILIA</label>
            <input type="text" class="form-control" name="nome_familia">
        </div>
        <div class="row g-3">
            <div class="col-1">
                <input type="submit" class="btn btn-success" required value="SALVAR">
            </div>
            <div class="col-1">
                <a class="btn btn-secondary" href="/familiaProduto">CANCELAR</a>
            </div>
        </div>
    </form>

</main>