<li>
    <div class="container">
        <p class="d-inline-flex gap-1 container-button-collapse">
            <button class="btn btn-dark btn-collapse" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsecadastroproducao" aria-expanded="false" aria-controls="collapsecadastroproducao">
                PRODUÇÃO
            </button>
        </p>
        <div class="collapse" id="collapsecadastroproducao">
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\operador">CADASTRO OPERADOR</a></li>
                    <li class="list-group-item"><a class="dropdown-item" href="\maquina">CADASTRO MAQUINA</a></li>
                    <li class="list-group-item"><a class="dropdown-item" href="\setor">CADASTRO SETOR</a></li>
                    <li class="list-group-item"><a class="dropdown-item" href="\motivo">CADASTRO MOTIVO</a></li>
                    <li class="list-group-item"><a class="dropdown-item" href="\submotivo">CADASTRO SUBMOTIVO</a>
                </li>
            </ul>
        </div>
    </div>
</li>