<li>
    <div class="container">
        <p class="d-inline-flex gap-1 container-button-collapse">
            <button class="btn btn-dark btn-collapse" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsecadastroproduto" aria-expanded="false" aria-controls="collapsecadastroproduto">
                PRODUTO
            </button>
        </p>
        <div class="collapse" id="collapsecadastroproduto">
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\familiaProduto">CADASTRO
                        DE FAMILIA</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\produto">CADASTRO DE PRODUTO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\tipoproduto">CADASTRO TIPO
                        PRODUTO</a></li>
            </ul>
        </div>
    </div>
</li>