<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/tipoProduto">LISTA DE TIPOS</a></li>
            <li class="breadcrumb-item"><a>NOVA TIPO</a>
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <form action="/tipoProduto/new" method="post" class="row g-3">
        <div class="col">
            <label class="form-label">NOME DO TIPO</label>
            <input type="text" class="form-control" name="nome_tipo_produto">
        </div>
        <div class="row g-3">
            <div class="col-1">
                <input type="submit" class="btn btn-success" required value="SALVAR">
            </div>
            <div class="col-1">
                <a class="btn btn-secondary" href="/tipoProduto">CANCELAR</a>
            </div>
        </div>
    </form>
</main>